/* Estilo para la barra de navegación */
.custom-navbar {
    background-color: #a29bfe; /* Purple color */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Contenedor para el logo y el nombre */
  .brand-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  /* Logo circular */
  .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  /* Nombre del sitio */
  .site-name {
    color: #ffffff; /* White */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-left: 1rem;
  }
  
  /* Estilo para los enlaces del menú */
  .navbar-link {
    color: #ffffff; /* White */
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #fad7a0; /* Soft Peach */
  }
  
  /* Estilo para el botón de agendar cita */
  .appointment-button {
    background-color: #fad7a0; /* Soft Peach */
    color: #FFFFFF; /* Warm Gray */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .appointment-button:hover {
    background-color: #ffffff;
    color: #a29bfe; /* Lavender Purple */
  }
  
  /* Responsividad: Barra de navegación móvil */
  @media (max-width: 768px) {
    .navbar-brand {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  