.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Títulos principales */
h1, h2 {
  color: #A29BFE; /* Lavender Purple */
}

/* Fondo principal */
body {
  background-color: #FFFFFF; /* White */
}

/* Botón principal */
button.primary {
  background-color: #A29BFE; /* Lavender Purple */
  color: #FFFFFF; /* White */
  border: 2px solid #BDC3C7; /* Warm Gray */
}

/* Botón secundario */
button.secondary {
  background-color: #FAD7A0; /* Soft Peach */
  color: #BDC3C7; /* Warm Gray */
}

/* Pie de página */
footer {
  background-color: #BDC3C7; /* Warm Gray */
  color: #FFFFFF; /* White */
}


/* Solución para evitar desbordamiento */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Elimina el desplazamiento horizontal */
  width: 100%;
}

.product-carousel {
  overflow: hidden; /* Evita desbordamiento del carrusel */
}

img {
  max-width: 100%; /* Asegura que las imágenes no desborden */
  height: auto;
}
